.jumbotron {
    background-image : url(nurse.jpg);
    background-size: auto;
    background-position: center;
    
}
.jt {
    color : rgb(255, 255, 255);
    text-align: center;
}
hr {
    width: 65% ;
    border-top: 1px solid;
    font-family: 'Open Sans', sans-serif;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.bottom {
    text-align: right;
    background-color: cornsilk;
}