@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0em;
}
.hero-bg{
    background: url('images/bg.jpg');
    color: white;
    text-align: center;
    background-position: fixed;
    padding-bottom: 4em;
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    padding-top: 1em;
}
.hero-bg a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}
section {
    margin: 0 1em;
}
h1 {
    font-size: 2.5rem;
    margin: 2em 0 1.2em;
}
h1 span {
    text-transform: uppercase;
    display: block;
    font-size: 1.5rem;
    position: relative;
    z-index: 1;
}

h1 span::before{
    content: ' ';
    z-index: -1;
    position: absolute;
    width: 3em;
    background-color: #00bfff;
    height: .4em;
    bottom: 0;
    margin-left: -.3em;
}

.hero-bg p {
font-weight: bold;
margin: 0 1em 3em ;
}
.form-container {
    background-color: white;
    margin: 2em -1em 0;
    padding: 2em;
}
label {
    color: #2d7d98;
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.2em;
}
input[type=text]{
    border: 1px solid #5a2f2f;
    padding: 1em;
    border-radius: .5em;
    width: 100%;
    margin-top: 1.2em;
    box-sizing: border-box;
}

.form-container p {
    color: gray;
    margin-top: 1em;
    font-size: .9em;
    font-weight: normal;
    margin-bottom: 1.5rem;
}
input[type=button]{
    background-color: #F89104;
    border: none;
    width: 100%;
    font-weight: bold;
    padding:  1em 0 ;
    border-radius: .5em;
    font-size: 1.3em;
    cursor: pointer;
    color: white;
}
input[type=button]:hover {
    background-color: rgb(211, 126, 7);
    
}
.authentic {
    margin: 0em;
}
.right-col{
    text-align: center;
    margin: 3em 1em;
}
img {
    width: 100%;
}
h2{
    text-transform: uppercase;

}
p {
    line-height: 2em;
}
@media (min-width: 730px) {
    section{
        margin: 0em 4em;
    }
    .form-container {
        margin: 2em -4em 0;
    }
}

@media (min-width: 930px) {
    .hero-bg {
        text-align: left;
    }
    .hero-bg p {
        margin: 0 0 3em;
    }
    .hero-bg {
        
      
    }
    header {
        text-align: center;
    }
    .form-container {
        padding-top: 1em;
        margin-left :.2em;
        height: 100px;
        width: 65%;
        border-radius: .5em;
        box-shadow: 10px 10px 10px rgb(0, 0, 3);
    }
    form {
        display: flex;
    }
    label {
        margin:0;
    }
    input[type="button"]{
        height: fit-content;
        font-size: 1.1em;
        margin-left: 1em;
        margin-top: 2.2em;
        padding: .7em 0;
        width: 400px;
    }
    input[type=text]{
        width: 400px;
    }
    section.authentic {
        display: grid;
        grid-template-columns: repeat(2,50%);
        grid-template-areas: 
            "bowl content";
    }
    .right-col {
        grid-area: content;
        padding: 0 10%;
        text-align: left;
        align-self: center;
    }
    img {
        grid-area: bowl;
    }
    .right-col h1 {
        margin:0;
    }
}

.top {
    animation: fadeIn 2s forwards;

}
@keyframes fadeIn{
    from {
        opacity: 0;
        transform: translateY(-2em);
    }
}